.table-borderless td,
.table-borderless th{ 
    border: 0 !important
}

.eve-image {
	background-color: #333;
	margin: 0.05em;
}

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  background: url('/img/semi_transparent.png');
}
