.item_dropped_row {
	background-color: #FBEFEF;
}
.item_dropped {
color: black;
}
.item_dropped_qty {
color: white;
}
.item_destroyed {
color: red;
}

.item_destroyed, .red {
color: red;
}
.green {
color: green;
}

.table-no-hover tbody tr:hover td, .table tbody tr:hover th {
	background-color: transparent;
}
