{% extends "base.html" %}

{% set pageTitle = 'Account' %}

{% block content %}
<div class="row">
	<div class="span4">
	<form method="post" action="/account/">
	<h3>Account Settings</h3>
	<table class="table">
		<tr><th>Email:</th><td><input style="width: 100%;" type="text" name="email" type="email" value="{{ config.email }}"><br/><small>By providing an email you are authorizing SkillQ to email you notifications when a character on your account has a skill queue of less than 24 hours.</td></tr>
		<tr><td>&nbsp;</td><td><input type='checkbox' name='nagger' value="{{ config.nagger }}" {% if config.nagger == 'nonag' %}checked{% endif %}/> Don't display "no email" warning on front page.</td></tr>
		<tr><th>Slack:</th><td><i>Coming Soon...</i></td></tr>
		<tr><th>Discord:</th><td><i>Coming Soon...</i></td></tr>
		<tr><th>Theme:</th><td><select name="theme">
		{% for themee in themes %}
			<option value={{ themee }} {% if theme == themee %}selected{% endif %}>{{ themee }}</option>
		{% endfor %}
		</select>
		<br/><small>Many themes provide odd formatting and hard to read text, use at your own risk.</small>
		</td></tr>
		<tr><th>Fluid</th><td><select name="fluid"><option value="no" {% if fluid == "" %}selected{% endif %}>3 Chars per Row</option><option value="yes" {% if fluid == "-fluid" %}selected{% endif %}>As many as can fit</option></select</td></tr>

		<tr><td>&nbsp;</td><td><input type="submit" value="Update" class="pull-right btn btn-primary">
	</table>
	</form>
	</div>
</div>
{% endblock %}
