<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html prefix="og: http://ogp.me/ns#" lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="{{ siteName }} is a site for monitoring skills and other attributes for character(s) within Eve Online.">
        <meta name="title" content="{{ siteName }} / {{ pageTitle }}">
        <meta name="keywords" content="eve-online, eve, ccp, ccp games,  massively, multiplayer, online, role, playing, game, mmorpg">
        <meta name="robots" content="index,follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{{ siteName }} / {{ pageTitle }}</title>

		<link href="/css/bootstrap-combined.min.2.2.2.css" rel="stylesheet">
		<link href="/css/themes/{{ theme }}/bootstrap.no-icons.min.css" rel="stylesheet">
		<link href="/css/skillq.css" rel="stylesheet">
		<script src="/js/jquery.min.1.8.3.js"></script>
		<script src="/js/bootstrap.min.2.2.2.js"></script>
		<script type="text/javascript">
			{% if config.refreshPages %}var refreshPages = true; {% endif %}
		</script>
		<script src="/js/skillq.js"></script>
		<script src="/js/jquery.countdown.js"></script>
    </head>
    <body>
		<div class="container-fluid">
        	{% include "navigationbar.html" %}
		</div>

        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>

        <div class="container-fluid" id="footer">
            {% include "footer.html" %}
        </div>

		</div>
    </body>
</html>
