{% extends "base.html" %}

{% set pageTitle = char.characterName %}

{% block content %}
<div class="">
{% if char.missingScopes %}
    <div class="alert alert-error">Some scopes are missing! Please re-login this character by using Add Character.</div>
{% endif %}
{% if message %}
        <div class="alert">{{ message|raw }}</div>
{% endif %}
</div>
{% include 'components/char_info.html' %}

{% include 'components/char_menu.html' %}

{% if pageType == 'overview' %}{% include 'components/char_skills.html' %}{% endif %}
{% if pageType == 'wallet' %}{% include 'components/char_wallet.html' %}{% endif %}
{% if pageType == 'train' %}{% include 'components/char_train.html' %}{% endif %}


{% endblock %}
