<div class="footer">
    <hr/>
	{% if pageRefresh > 0 %}
		<div class="pull-left">
		API Refresh in <span id="pageRefresher"></span><br/>
		<script type="text/javascript">
			$(function () {
            	    $('#pageRefresher').countdown({until: '{{ pageRefresh + 30 }}', compact: true });
			});
		</script>
		</div>
	{% endif %}
	<div class="pull-right" style="text-align: right;">
		Brought to you by <a href="http://evewho.com/pilot/Squizz+Caphinator" target="_blank">Squizz Caphinator</a><br/>
		<a href="https://github.com/cvweiss/skillq" target="_blank">GitHub</a> /
		<a href="https://forums.eveonline.com/default.aspx?g=posts&m=4252671" target="_blank">Forum Thread</a><br/>
    		{{ pageTimer()|number_format() }}ms. / {{ queryCount() }}q
	</div>
</div>
