{% extends "base.html" %}

{% set pageTitle = 'Forgot Password' %}

{% block content %}
{% if type %}
	<div class="alert alert-{{ type }} centered">
	<p>{{ message }}</p>
	</div>
{% else %}
<h1>Forgot Password</h1>
<form class="well" name="forgotpassword" method="post" action="/forgotpassword/">
    <fieldset>
        <table class="table table-condensed">
            <tbody class="pull-left">
            <tr><td>Email:</td><td class="clearfix"><input id="email" name="email" type="email" required placeholder="email"></td></tr>
            <tr><td><input type="submit" class="btn btn-large btn-block btn-primary" value="&nbsp;Reset Password&nbsp;"></td></tr>
            </tbody>
        </table>
    </fieldset>
</form>
{% endif %}
{% endblock %}
