{% extends "base.html" %}

{% set netWealth = 0 %}
{% set netSP = 0 %}

{% block content %}
	{% if chars %}
		{% if showEmailReminder %}
			<div class="alert">No email on file to notify you, please <a href='/account/'>click here</a> to update.</div>
		{% endif %}
		<div class="row-fluid">
			<div class="characters span12">
				{% for char in chars %}
					{% set netWealth = netWealth + char.balance %}
					{% set netSP = netSP + char.skillPoints %}
					<div class="pull-left" style="margin-right: 1em;"><div class="well well-small" style="width: 310px; height: 150px; max-height: 150px;">
						<table class="table table-condensed table-borderless">
							<tr>
								<td style="width: 128px;" class="hidden-phone">
									<a href="/char/{{ char.characterName|url_encode }}">
										<img src="{{ image_character }}{{ char.characterID }}_128.jpg" class="hidden-phone" style="height: 128px; width: 128px;">
									</a>
								</td>
								<td style="width: 64px;" class="visible-phone">
									<a href="/char/{{ char.characterName|url_encode }}">
										<img src="{{ image_character }}{{ char.characterID }}_64.jpg" class="visible-phone" style="height: 64px; width: 64px;">
									</a>
								</td>
								<td class="pull-left">
									<strong><a href="/char/{{ char.characterName|url_encode }}">{{ char.characterName }}{% if char.missingScopes %}<span style='color: red;'> !<span>{% endif %}</a></strong><br/>
									{{ char.balance|number_format(2) }} ISK<br/>
									{{ char.skillPoints|number_format(0) }} SP<br/>
									{% if char.typeName %}
										<span id="cache{{char.characterID}}"></span>
										{% if char.queueFinishesSeconds < 86400 and char.queueFinishesSeconds > 0 %}
											{% set qf = true %}
											<p class="text-error">Empty Queue: <span id="queueTime{{ char.characterID }}"></span></p>
										{% else %}
											<span>{{ char.queueFinishes }}</span><br/>
											{% set field = char %} {% include 'components/text_item.html' %}<br/>
											<span id="countdown{{char.characterID}}">{{ char.trainingEndTime }}</span><br/>
										{% endif %}
										<script type="text/javascript">
											$(function () {
												$('#countdown{{char.characterID}}').countdown({until: '{{ char.trainingSeconds }}', compact: true });
												{% if qf %}$('#queueTime{{ char.characterID }}').countdown({until: '{{ char.queueFinishesSeconds }}', compact: true});{% endif %}
											});
										</script>
									{% endif %}
								</td>
							</tr>
						</table>
					</div></div>
				{% endfor %}
			</div>
		</div>

		{% if chars|length > 1 %}
			<div class="row"><div class="well span3">
				Net ISK: {{ netWealth|number_format(2) }}<br/>
				Net SP: {{ netSP|number_format(0) }}
			</div></div>
		{% endif %}
	{% else %}
		<em>You are not logged in! Click <a href="/login/">here to login</a>...</em><br/><br/>
		<div class="hero-unit">
			<p class="alert alert-info">SkillQ is Beta as it is improved to work with ESI</p>
			<h2>What is SkillQ?</h2>
			<p>SkillQ allows you to monitor your skills in a single place using any browser on your desktop or mobile device.  SkillQ will also email you when your skill queue gets low: you will receive emails when your skill queue has less than 24 hours and 6 hours.</p><p>SkillQ is a free service provided to you by the same guy that runs <a href='https://zkillboard.com/' target='_blank'>zKillboard</a>.</p>
			<p>Here are some example screenshots:</p>
			<p><img src="/img/skillq_01.png"/><br/><br/><img src="/img/skillq_02.png"/><br/><br/><img src="/img/skillq_03.png"></p>
		</div>
	{% endif %}
{% endblock %}
