{% extends "base.html" %}

{% set pageTitle = "Item Info / " ~ info.typeName  %}


{% block content %}
<h2>
{% set field = info %}
{% set imageSize = 64 %}
{% include 'components/image_item.html' %}
{{ info.typeName }}
</h2>

<hr/>
{{ info.description|nl2br }}

<div class="clearfix"></div>
<hr/>

<div class="span4 pull-left">
{% if info.reqs %}
	<h4>Required Skills</h4>
	{% set depth = 0 %}
	{% set reqs = info.reqs %}
	{% include 'components/requirements.html' %}
	<hr/>
{% endif %}
{% if info.enables %}
	<h4>This skill enables:</h4>
	{% set enables = info.enables %}
	{% include 'components/enables.html' %}
{% endif %}
</div>

<div class="span4 pull-left">
{% set category = "" %}
{% for row in info.attributes %}
	{% if row.categoryName != category %}
		{% if category != "" %}</tbody></table>{% endif %}
		<h4>{{ row.categoryName }}</h4>
		<table class="table table-striped table-condensed table-bordered table-hover"><tbody>
		{% set category = row.categoryName %}
	{% else %}
		<tr><td>{{ row.attributeName }}</td><td><span class="pull-right">{{ row.value }}</span></td></tr>
	{% endif %}
{% endfor %}
</tbody></table>

</div>

{% endblock %}
