{% extends "base.html" %}

{% set pageTitle = "Login" %}

{% block content %}
{% if error %}
<div class="alert alert-error">
<h2>Error...</h2>
 {{ error }}
</div>
{% elseif message %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% else %}
<h1>Login</h1>
<form class="well" name="login" method="post" action="/login/">
    <fieldset>
        <table class="table table-condensed">
            <tbody class="pull-left">
            <tr><td>Username:</td><td class="clearfix"><input id="username" name="username" type="text" autofocus="true" required placeholder="username"></td></tr>
            <tr><td>Password:</td><td class="clearfix"><input id="password" name="password" type="password" required placeholder="password"></td></tr>
	<tr><td colspan="2">
	<label class="checkbox">
		<input id="autologin" name="autologin" type="checkbox">Remember Me
	</label>
	</td></tr>
		<tr>
			<th colspan="2">
				<button type="submit" value="Login" class="btn btn-primary" />Login</button>
				<a class="btn btn-warning" href="/forgotpassword/">Forgot password</a>
			</th>
		</tr>
	</tbody>
	</table>
	</fieldset>
</form>
{% endif %}
{% endblock %}
