{% extends "base.html" %}

{% set pageTitle = "API Management" %}

{% block content %}
<form method="post" action="/manage/" class="form-inline">
<div class="row{{ fluid }}">
<div class="well span6">
<h3>Characters</h3>
<table class="table table-condensed table-hover table-striped table-bordered">
	<tbody>
	<tr>
		<th style="width: 4em;">Custom</th>
		<th>Character</th>
		<th>Last Checked</th>
		<th style='width: 2em;'><span class='pull-right'>Remove?</span></th>
	</tr>
	{% for char in scopes %}
	<tr>
		<td><input type='textbox' name="custom-{{ char.characterID }}" value="{{ char.customOrder }}" style="width: 3em;"></td>
		<td><a href='/char/{{ char.characterName}}'>{{ char.characterName }}{% if char.missingScopes %}<span style='color: red;'> !<span>{% endif %}</a></td>
		<td>{{ char.lastChecked }}</td>
		<td><span class='pull-right'><a href='#' onClick="verifyRemoval('{{ char.characterName }}', {{ char.characterID }}); return false;">X</a></span></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
</div>
<h4>Order By:</h4>
	<select name="orderBy">
		<option value="skillPoints desc" {% if orderBy == "skillPoints desc"%}selected{% endif %}>Skillpoints (desc)</option>
		<option value="balance desc" {% if orderBy == "balance desc" %}selected{% endif %}>Wallet Balance (desc)</option>
		<option value="characterName" {% if orderBy == "characterName" %}selected{% endif %}>Name (asc)</option>
		<option value="queueFinishes" {% if orderBy == "queueFinishes" %}selected{% endif %}>Queue Finishes (asc)</option>
		<option value="customOrder" {% if orderBy == "customOrder" %}selected{% endif %}>Custom Order</option>
	</select>
	<button class="btn btn-primary" type='submit' value='Save'>Save</button>
</form>
{% endblock %}
