{% extends "base.html" %}

{% set pageTitle = 'Register' %}

{% block content %}
{% if type %}
	<div class="alert alert-{{ type }} centered">
	<p>{{ message }}</p>
	</div>
{% else %}
<h1>Registration</h1>
<form class="well" name="registration" method="post" action="/register/">
    <fieldset>
        <table class="table table-condensed">
            <tbody class="pull-left">
            <tr><td>Username:</td><td class="clearfix"><input id="username" name="username" type="text" autofocus="true" required placeholder="username"></td></tr>
            <tr><td>Password:</td><td class="clearfix"><input id="password" name="password" type="password" required placeholder="password"></td></tr>
            <tr><td>Password Confirmation:</td><td class="clearfix"><input id="password2" name="password2" type="password" required placeholder="password confirmation"></td></tr>
            <tr><td>Email:</td><td class="clearfix"><input id="email" name="email" type="email" required placeholder="email"></td></tr>
            <tr><td><input type="submit" class="btn btn-large btn-block btn-primary" value="&nbsp;Register&nbsp;"></td></tr>
            </tbody>
        </table>
    </fieldset>
</form>
{% endif %}
{% endblock %}
