{% if queue|length > 0 %}
<h4>Skill Queue</h4>
<div class="row hidden-phone">
        <table class="table table-condensed table-striped table-hover table-bordered span12">
                <thead><tr>
                        <th style="width: 25em;">Skill</th>
                        <th style="width: 13em;">Group</th>
                        <th style="width: 10em;">Start Time</th>
                        <th style="width: 10em;">End Time</th>
                        <th style="width: 1em;">SP/Hour</th>
                </tr></thead>
                <tbody>
{% for skill in queue %}
                <tr>
                        <td>{% set field = skill %}{% include 'components/text_item.html' %}</td>
                        <td>{{ skill.groupName }}</td>
                        <td style="with: 10em;">{{ skill.startTime }}</td>
                        <td style="with: 10em;">{{ skill.endTime }}</td>
                        <td style="with: 10em;">{{ skill.spHour|number_format(0) }}</td>
                </tr>
{% endfor %}
                </tbody>
        </table>
</div>
<div class="row visible-phone">
        {% for skill in queue %}
                <table class="table table-condensed table-striped table-hover table-bordered">
                        <tr><th>Skill</th><td>{% set field = skill %}{% include 'components/text_item.html' %}</td></tr>
                        <tr><th>Group</th><td>{{ skill.groupName }}</td></tr>
                        <tr><th>Starts</th><td>{{ skill.startTime }}</td></tr>
                        <tr><th>Ends</th><td>{{ skill.endTime }}</td></tr>
                        <tr><th>SP/Hour</th><td>{{ skill.spHour|number_format(0) }}</td></tr>
                </table>
        {% endfor %}
</div>
{% endif %}

{% if skills|length > 0 %}
{% set currentGroup = '' %}
<div class="row">
        <div class="span8">
                <div class="pull-left">
                        <h4>Skills <em style="font-size: 75%">Total: {{ totalSP|number_format(0) }} SP / {{ skills|length|number_format(0) }} Skills{% if char.unallocated_sp != 0 %}&nbsp;&nbsp;<span class="alert" style="border: 0; padding:0;"> ({{ char.unallocated_sp|number_format(0) }} Unallocated SP){% endif %}</em></h4>
                </div>
                <div class="pull-right span1" style="position: relative; bottom: -1.75em;">
        <ul class="nav pull-right hidden-phone">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="icon-list-alt"></b><b class="caret"></b></a>
                <ul class="dropdown-menu">
                                        <li><a href="#" onClick="$('.skill').show(); return false;">Expand All</a></li>
                                        <li><a href="#" onClick="$('.skill').hide(); return false;">Collapse All</a></li>
                                        <li><a href="#" onClick="$('.skill').show(); $('.level5').hide(); return false;">Exclude V's</a></li>
                                </ul>
                        </li>
                </ul>
                </div>
        </div>
</div>
<div class="row">
        <div class="span8">
    <table class="table table{{ fluid }} table-condensed table-striped table-hover table-bordered span6 pull-left" style="margin-left: 0px;">
{% for skill in skills %}
        {% if skill.groupName != currentGroup %}
        {% set currentGroup = skill.groupName %}
                {% if skill.groupName != '' %}</tbody>{% endif %}
                <thead><tr><th colspan="2" id="group{{skill.groupID}}" onClick="$('.skillGroup{{skill.groupID}}').toggle(); return false;" style="cursor: pointer;">
                        <i class="icon-list"></i>
                        {{ currentGroup }}
                         <em style="font-size: 75%">{{ attribute(groupSP, skill.groupID).sp|number_format(0) }} SP / {{ attribute(groupSP, skill.groupID).count|number_format(0) }} Skills</em></th></tr></thead>
                <tbody>
        {% endif %}
        <tr class="skillGroup{{skill.groupID}} hide level{{ skill.level }} skill">
            <td class=""><i class="icon-minus"></i> {% set field = skill %} {% include 'components/text_item.html' %}
                        {% if skill.skillPoints %}
                                <em style="font-size: 75%">{{ skill.skillPoints|number_format(0)}} SP</em>
                        {% endif %}
                        </td>
                        <td style="width: 60px">
                        {% if skill.training > 0 %}<img src="/img/skills/level{{ skill.training }}_t.gif"/>
                        {% elseif skill.queue > 0 %}<img src="/img/skills/level{{ skill.queue }}_q.gif"/>
                        {% else %}<img src="/img/skills/level{{ skill.level }}.gif"/>{% endif %}
                        </td>
        </tr>
{% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endif %}
<div >
<small><em>API may return outdated data if you have not logged in recently. Finished skills and SP totals are not updated properly in the API until a user logins.</em></small>
</div>
