{% if wallet|length > 0 %}
<table class="table table-bordered table-hover table-condensed">
	<thead>
	<tr>
		<th>Time</th>
		<th>Type</th>
		<th>From</th>
		<th>To</th>
		<th><span class="pull-right">Amount</span></th>
		<th><span class="pull-right">Balance</span></th>
		<th>Reason</th>
	</tr>
	</thead>
	<tbody>
{% for row in wallet %}
	<tr class="{{ row.amount >= 0 ? 'success' : 'error' }}">
		<td>{{ row.dttm }}</td>
		<td>{{ row.refTypeName }}</td>
		<td>{{ row.ownerName1 }}</td>
		<td>{{ row.ownerName2 }}</td>
		<td><span class="pull-right">{{ row.amount|number_format(2) }}</span></td>
		<td><span class="pull-right">{{ row.balance|number_format(2) }}</span></td>
		<td>{{ row.reason }}</td>
	</tr>
{% endfor %}
	</tbody>
</table>

{% else %}
<br/>
<em>We have no wallet transactions on record for this character.  Perhaps you haven't enabled it in the API?</em>
<br/>
{% endif %}
<br/>
<em>Because SkillQ isn't about your wallet we will only keep 30 days worth of wallet transactions.</em>
<br/>
