{% if skillTrain|length > 0 %}
<div class="row">
        <div class="span6">
                <div class="pull-left">
                        <h4>Quickest Skills to Train to V</h4>
                </div>
                <div class="pull-right span1" style="position: relative; bottom: -1.75em;">
        <ul class="nav pull-right hidden-phone">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="icon-list-alt"></b><b class="caret"></b></a>
                <ul class="dropdown-menu">
                                        <li><a href="#" onClick="$('.skill').show();">Show All</a></li>
                                        <li><a href="#" onClick="$('.skill').show(); $('.level0').hide();">Hide Untrained</a></li>
                                        <li><a href="#" onClick="$('.skill').hide(); $('.level0').show();">Hide Trained</a></li>
                                </ul>
                        </li>
                </ul>
                </div>
        </div>
</div>

<div class="row">
<table class="table table-bordered table-hover table-condensed span6">
	<thead>
		<tr>
			<th>Skill</th>
			<th>Level</th>
			<th>Time</th>
			<th>Primary</th>
			<th>Secondary</th>
		</tr>
	</thead>
	<tbody>
	{% for time, rows in skillTrain %}
		{% for row in rows %}
		<tr class="level{{ row.level }} skill">
			<td><i class="icon-minus"></i>{{ row.typeName }} {% if row.skillPoints %}<small><em>{{ row.skillPoints|number_format(0) }} SP</em></small>{% endif %}</td>
			<td>
				{% if row.training > 0 %}<img src="/img/skills/level{{ row.training }}_t.gif"/>
				{% elseif row.queue > 0 %}<img src="/img/skills/level{{ row.queue }}_q.gif"/>
				{% else %}<img src="/img/skills/level{{ row.level }}.gif"/>{% endif %}
			</td>
			<td style="white-space: nowrap">{{ time }}</td>
			<td>{{ row.primaryAttribute|capitalize }}</td>
			<td>{{ row.secondaryAttribute|capitalize }}</td>
		</tr>
		{% endfor %}
	{% endfor %}
	</tbody>
</table>
</div>

<em>Required skill dependencies are currently not calculated into the time</em>

{% else %}
	<em>Sorry, we have no skill training suggestions for you...</em>
{% endif %}

