<div class="row">
        <div class="span6">
                <table class="table table-condensed table-borderless">
                <tr>
                        <td rowspan="2" style="width: 128px;" class="hidden-phone">
                                <img src="{{ image_character }}/{{ char.characterID}}_128.jpg" align="left" style="margin-right: .5em; height: 128px; width: 128px;" title="{{ char.characterName}}" class="hidden-phone"/>
                        </td>
                        <td rowspan="2" style="width: 64px;" class="visible-phone">
                                <img src="{{ image_character }}/{{ char.characterID}}_64.jpg" align="left" style="margin-right: .5em; height: 64px; width: 64px;" title="{{ char.characterName}}" class="visible-phone"/>
                        </td>
                        <td style="width: 0px;"><img src="{{ image_corporation }}/{{ char.corporationID}}_32.png" title="{{ char.corporationName }}" class="hidden-phone eve-image"/></td>
                <td rowspan="2">
                        <strong>{{ char.characterName }}</strong><br/>
                        {{ char.corporationName }}<br/>
                        {% if char.allianceID %}{{ char.allianceName }}<br/>{% endif %}
                        {{ char.balance|number_format(2) }} ISK<br/>
                        {% if training.typeName and char.subStatus != 'Subscription Expired' %}
                                {% set field = training %} {% include 'components/text_item.html' %}<br/>
                                {% if queueFinishes < 86400 %}
                                <p class="text-error">Empty Queue: <span id="queueTime"></span></p>
				{% else %}
                                <span id="countdown">{{ training.trainingEndTime }}</span><br/>
                                {% endif %}
                                <script type="text/javascript">
                                        $(function () {
                                                $('#countdown').countdown({until: '{{ training.trainingSeconds }}', compact: true });
                                                {% if queueFinishes < 86400 %}$('#queueTime').countdown({until: '{{ queueFinishes}}', compact: true});{% endif %}
                                        });
                                </script>
                        {% elseif char.subFlag == "0" %}
                                <p class="text-error"><em><strong>No skill training...</strong></em></p>
                        {% endif %}
						{% if char.subStatus != "" %}
                                <p class="text-error"><em><strong>{{ char.subStatus }}</strong></em></p>
						{% endif %}
                </td>
                </tr>   
                <tr><td>{% if char.allianceID %}<img src="{{ image_alliance }}/{{ char.allianceID }}_32.png" title="{{ char.allianceName }}" class="hidden-phone eve-image"/>{% endif %}</td></tr>
                </table>
        </div>
</div>
