{% set neededLevel = -1 %}
<table class="table table-condensed table-striped table-hover table-bordered">
{% for enabled in enables %}
	{% if neededLevel != enabled.neededLevel %}
		<tr><th colspan="2"><a href="#" onClick="$('.skill-level-{{ enabled.neededLevel }}').toggle(); return false;">{{ info.typeName }} {{ enabled.neededLevel }}</a></th></tr>
		{% set neededLevel = enabled.neededLevel %}
	{% endif %}
	{% set imageSize = 32 %}
	{% set field = enabled %}
	<tr class="skill-level-{{ enabled.neededLevel }}" style="display: none;"><td style="width: 32px;">{% include 'components/image_item.html' %}</td>
	<td>{% include 'components/text_item.html' %}</td></tr>
{% endfor %}
</table>
<i>Click to expand group</li>
